/* vcard.css */
body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
  background: #6025F5;  /* fallback for old browsers */
background: -webkit-linear-gradient(to right, #FF5555, #6025F5);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to right, #FF5555, #6025F5); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */


}

.vcard-container {
    background: rgba(255, 255, 255, 0.1); /* Transparencia */
    backdrop-filter: blur(15px); /* Desenfoque de vidrio */
    border: 1px solid rgba(255, 255, 255, 0.3);
    border-radius: 20px;
    padding: 30px;
    width: 90%;
    margin: 0 20px;
    max-width: 350px;
    text-align: center;
    color: white;
    font-family: "poppins", sans-serif;
    box-shadow: 1px 1px 15px rgba(0, 0, 0, 0.3);
}

.btn-vcard {
    width: 100%;
    padding: 15px;
    margin: 10px 0;
    border: none;
    border-radius: 10px;
    background: rgba(255, 255, 255, 0.2);
    color: white;
    font-weight: bold;
    cursor: pointer;
    transition: 0.3s; /* Animación suave */
}

.btn-vcard:hover {
    background: rgba(255, 255, 255, 0.4);
    transform: translateY(-3px); /* Pequeño salto al pasar el dedo */
}

#img-perfil {
    width: 95px;       /* Ancho que vos quieras */
    height: auto;       /* Esto mantiene la proporción original */
    object-fit: contain; /* Evita que la imagen se estire o se aplaste */
    display: block;
    margin: 0 auto 20px auto; /* Lo centra y le da espacio abajo */
}

.slogan {
    margin-top: 20px;
    font-size: 0.8em;
    font-style: italic;
    font-weight: 300;
    color: white;
}